### Print the first five entries in the Dataframe:

In [23]:
import pandas as pd
import numpy as np
df=pd.read_csv("iris.csv",sep=',')
df.head()

   SepalLength  SepalWidth  PetalLength  PetalWidth         Name
0          5.1         3.5          1.4         0.2  Iris-setosa
1          4.9         3.0          1.4         0.2  Iris-setosa
2          4.7         3.2          1.3         0.2  Iris-setosa
3          4.6         3.1          1.5         0.2  Iris-setosa
4          5.0         3.6          1.4         0.2  Iris-setosa

### No. of columns in the Dataframe

In [17]:
len(df.columns)

5

### Print which columns have numeric and non-numeric data

In [30]:
for i in df.columns: #data-type for each column
    print (i, df[i].dtype)

SepalLength float64
SepalWidth float64
PetalLength float64
PetalWidth float64
Name object

In [24]:
num=df._get_numeric_data().columns #numeric data
num

Index(['SepalLength', 'SepalWidth', 'PetalLength', 'PetalWidth'], dtype='object')

In [25]:
list(set(df.columns)-set(num)) #non-numeric data

['Name']

### Summary statistics for each column

In [26]:
df.describe(include='all')

        SepalLength  SepalWidth  PetalLength  PetalWidth             Name
count    150.000000  150.000000   150.000000  150.000000              150
unique          NaN         NaN          NaN         NaN                3
top             NaN         NaN          NaN         NaN  Iris-versicolor
freq            NaN         NaN          NaN         NaN               50
mean       5.843333    3.054000     3.758667    1.198667              NaN
std        0.828066    0.433594     1.764420    0.763161              NaN
min        4.300000    2.000000     1.000000    0.100000              NaN
25%        5.100000    2.800000     1.600000    0.300000              NaN
50%        5.800000    3.000000     4.350000    1.300000              NaN
75%        6.400000    3.300000     5.100000    1.800000              NaN
max        7.900000    4.400000     6.900000    2.500000              NaN